@media (max-width: 720px) {
    .onmobile {
        display: unset;
    }

    .ondesktop {
        display: none;
    }
    
    .offcanvas {
        width: 50%;
    }

    /* conten 1 style */
    .content1 {
        padding-top: 15vw;
        padding-bottom: 2vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(229, 252, 244);
    }
    
    .content1-left {
        padding-top: 5vw;
        padding-right: 3vw;
    }
    
    .content1 p {
        width: 100%;
        
    }
    
    .content1 img {
        width: 100%;
        margin-top: 3vw;
    }
    
    /* content 2 style */
    .content2 {
        display: flex;
        flex-direction: column;
        padding-top: 3vw;
        margin-left: -1vw;
    }
    
    .content2 img {
        width: 100%;
    }
    
    .content2-right {
        padding-top: 5vw;
    }
    
    .content2 p {
        width: 100%;
        margin-bottom: 10vw;
    }
    
    .content2-right-list > img {
        width: 24px;
        height: 24px;
    }
    
    .content2-right-list {
        display: flex;
        flex-direction: row;
        margin-bottom: -15vw;
    }
    
    /* content3 style */
    .content3 {
        padding-top: 3vw;
        display: flex;
        flex-direction: column;
    }
    
    .content3-top{
        text-align: center;
    }

    .content3-botom-cards {
        display: flex;
        flex-direction: column;
    }
    
    .content3-botom-cards-card {
        width: 100%;
        margin-bottom: 5vw;
    }
    
    .content3-botom-cards-card img {
        margin-top: 3vw;
        margin-left: 3vw;
    }
    
    .content3-botom-cards-card h1 {
        margin-left: 3vw;
        margin-top: 3vw;
    }
    
    .content3-botom-cards-card p {
        margin-left: 3vw;
    }
    
    /* content4 style */
    .content4 {
        padding-top: 3vw;
        display: flex;
        flex-direction: column;
    }
    
    .content4-botom {
        padding-top: 3vw;
    }
    
    .content4-botom-cards-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .content4-botom-cards-card img {
        padding-top: 1vw;
        padding-left: 1vw;
    }
    
    .content4-botom-cards-card-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vw;
    }
    
    .content4-botom-cards-card-text img {
        margin-right: -10px;
        margin-bottom: 3vw;
    }
    
    .content4-botom-cards-card p {
        width: 100%;
    }
    
    .content4-botom-cards-card h2 {
        width: 100%;
    }
    
    /* arrow */
    .arrow {
        margin-top: 3vw;
        margin-left: -9vw;
    }
    
    /* content5 style */
    .content5 .card {
        margin: -0.5vw;
        border-radius: 10px;
        margin-top: 10vw;
    }
    .content5 h1 {
        margin-top: 5vw;
    }
    
    .content5 button {
        margin-bottom: 5vw;
        margin-left: 28vw;
    }
    
    /* content6 style */
    .content6 {
        padding-top: 10vw;
        display: flex;
        flex-direction: column;
    }
    
    .content6-left {
        width: 100%;
    }
    
    .content6-left p {
        margin-bottom: 3vw;
    }
    
    .content6-right {
        width: 100%;
        margin-top: 18vw;
    }
    
    .accordion .accordion-item button {
        margin-bottom: 2vw;
        width: 100%;
    }
    
    /* footer */
    .footer {
        display: flex;
        flex-direction: column;
        padding-top: 10vw;
        padding-bottom: 15vw;
    }
    
    .footer p {
        width: 100%;
    }
    
    .footer-2 {
        margin-left: -4vw;
    }
    .footer h6 {
        width: 100px;
        margin-bottom: -0.5vw;
    }
    
    .footer-3-logos {
        display: flex;
    }
    
    .footer-3-logos img {
        margin-right: 4vw;
    }
    
    .footer-4 {
        margin-top: 3vw;
    }
}